.contact {
    &_container {
    }
    &__body {
        text-align: center;
        width: 430px;
        @media (max-width: 670px) {
            width: 100%;
            margin-bottom: 50px;
        }
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__text {
        margin-bottom: 20px;
    }
}

.form-contact {
    &__email {
        margin-bottom: 15px;
    }
    &__question {
        margin-bottom: 30px;
    }
    &__button {
        margin: 0 auto;
    }
}

//======================
.registration {
    margin-bottom: 70px;
    @media (max-width: 860px) {
        margin-bottom: 30px;
    }
    &__container {
        position: relative;
        //z-index: 1;
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
        @media (max-width: 670px) {
            margin-bottom: 15px;
        }
    }
    &__img {
        @media (min-width: 670px) {
            position: absolute;
            background: url("../img/donut4.png") center / 100% no-repeat;
            width: 200px;
            height: 200px;
            left: -10%;
            @media (max-width: 1050px) {
                left: -5%;
            }
            @media (max-width: $md4+px) {
            }
            top: 10%;
            //bottom: ;
            z-index: 0;
            //opacity: 1;
        }
    }
    &__img2 {
        @media (min-width: 670px) {
            position: absolute;
            background: url("../img/kisspng-party.png") center / 100% no-repeat;
            width: 300.76px;
            height: 544.01px;
            left: 673.73px;
            top: 2586.39px;
            //background: url(kisspng-party-confetti-birthday-idea-5b3b0e53f123c1.png);
            transform: rotate(-47.68deg);
            @media (max-width: 1050px) {
                //left: -5%;
            }
            @media (max-width: $md4+px) {
            }
            top: 10%;
            //bottom: ;
            z-index: 0;
            //opacity: 1;
        }
    }
    &__body2 {
        @media (max-width: 670px) {
            height: 510px;
            width: 290px;

            background: #fffff9;
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            border-radius: 150px 150px 0px 0px;
            padding: 20px 15px;
            margin: 0 auto;
        }
    }
    &__body {
        @media (min-width: 670px) {
            position: relative;
            width: 100%; //822px;
            @media (max-width: 860px) {
                //width: 634px;
                padding: 20px;
            }
            height: 260px;
            background: #fffff9;
            box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
            border-radius: 150px;
            display: flex;
            padding: 35px;

            //align-items: ;
            z-index: 3;
        }
    }
    &__col1 {
        @media (min-width: 670px) {
            flex: 0 0 264px;
            @media (max-width: 860px) {
                flex: 0 0 160px;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
            }
            border-right: 1px solid rgba(171, 129, 108, 0.5);
            padding: 30px;
            text-align: right;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            color: #2e2520;
        }
        @media (max-width: 670px) {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #2e2520;
            padding: 0;
        }
    }
    &__text {
        margin-bottom: 30px;
        @media (max-width: 670px) {
            margin-bottom: 25px;
        }
    }
    &__price {
        @media (max-width: 670px) {
            margin-bottom: 30px;
        }
    }
    &__col2 {
        flex: 1 1 auto;
        padding: 30px;
        @media (max-width: 670px) {
            padding: 0px;
        }
    }
    &__form {
    }
}

.form-reg {
    @media (min-width: 670px) {
        display: flex;
        align-items: center;
    }
    //justify-content: center;
    &__input {
        flex: 0 0 220px;
        @media (max-width: 860px) {
        }
        margin-right: 38px;
        @media (max-width: 670px) {
            margin: 0;
        }
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #2e2520;
        margin-bottom: 15px;
        @media (max-width: 670px) {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }
    &__input-common {
    }
    &__name {
        margin-bottom: 15px;
    }
    &__phone {
        margin-bottom: 15px;
    }
    &__email {
        @media (max-width: 670px) {
            margin-bottom: 37px;
        }
    }
    &__button {
        min-width: 145px;
        @media (max-width: 670px) {
            margin: 0 auto;
        }
    }
}
.form__error {
    color: red;
}

//==============================
.page__reviews {
}
.reviews {
    //overflow: visible;
    //background:
    &__container {
        margin-bottom: 70px;
        @media (max-width: 860px) {
            margin-bottom: 30px;
        }
        //display: flex;
        //flex-direction: column;
        //align-items: center;
    }
    &__title {
        text-align: center;
    }
    &__slider {
        //flex: 1 1 auto;
        min-width: 0;
        //display: flex;
        //flex-direction: column;
        //align-items: center;
        //align-self: flex-start;
    }
}
.slider-reviews {
    &__body {
        //overflow: visible;
        //position: relative;
        margin-bottom: 35px;
        height: 420px;
        @media (max-width: $md4+px) {
            height: 350px;
        }
    }
    &__slide {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 234px;
        @media (max-width: $md3+px) {
            width: 186px;
        }
        @media (max-width: $md4+px) {
            width: 116px;
        }
        position: relative;

        //overflow: hidden;
        //@include adaptiv-value("min-height", 400, 300, 1);
        &.swiper-slide-active {
            .slider-reviews__name {
                font-weight: 700;
            }
            .slider-reviews__photo {
                margin-top: 20px;
                width: 234px;
                height: 234px;
                @media (max-width: $md3+px) {
                    width: 186px;
                    height: 186px;
                }
                @media (max-width: $md4+px) {
                    width: 116px;
                    height: 116px;
                }
            }
        }
    }
    &__photo {
        margin-bottom: 5px;
        //transition: margin-top 0.8s ease 0s;
        transition: margin-top 0.8s, width 0.8s, height 0.8s ease 0s;
        //transition: height 0.8s ease 0s;
        flex: 0 0 auto;
        width: 136px;
        height: 136px;
        @media (max-width: $md3+px) {
            width: 110px;
            height: 110px;
        }
        border-radius: 50%;
        overflow: hidden;
        @media (min-width: $md3+px) {
            //height: 83%;
        }
    }
    &__rating {
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 45px;
        color: $mainColor;
    }
    &__text {
        //scroll-behavior: smooth;
        display: flex;
        align-items: flex-end;
        //position: absolute;
        //width: 300%; //626px;
        @media (max-width: $md4+px) {
            //width: 100%;
        }
        //height: 132px;
        //top: 70%;
        @media (max-width: $md4+px) {
            margin: 0 auto;
        }
        margin: 0 -100%;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #2e2520; //626*132
    }
    &__arrows {
    }
}

.slider-arrows {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ab816c;
    display: flex;
    //align-items: center;
    justify-content: center;
    width: 100%;
}
.slider-arrow {
}
.slider-arrow_prev {
    color: inherit;
    font-size: 18px;
    line-height: 22px;
}
.slider-arrows__slide-number {
    margin: 0 20px;
    font-size: 18px;
    line-height: 22px;
}
.slider-arrow_next {
    color: inherit;
    font-size: 18px;
    line-height: 22px;
}

//====================

.program {
    margin-bottom: 68px;
    @media (max-width: $md3+px) {
        margin-bottom: 25px;
    }
    &__container {
    }
    &__body {
        @media (min-width: 670px) {
            display: flex;
            margin: 0 -15px;
        }
        //margin-bottom: 68px;
    }
    &__content {
        //margin-bottom: 44px;
        @media (max-width: 670px) {
            margin-bottom: 20px;
        }
        @media (min-width: 670px) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
    }
    &__title {
        @media (max-width: 670px) {
            color: $bgElement;
        }
        @media (max-width: 670px) {
            text-align: center;
        }
        &:hover {
            @media (max-width: 670px) {
                //color: $bgElement;
                cursor: pointer;
            }
        }

        ._init & {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @extend ._icon-circle-down;
            &::before {
                @extend %ic;
                font-size: 20px;
                transition: transform 0.3s ease 0s;
            }
        }
        &._active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    &__text {
    }
    &__events {
    }
}

.events {
    @media (min-width: $md4+px) {
        flex: 0 0 50%;
        padding: 0 15px;
    }
    &__cols {
        display: flex;
        margin: 0 -15px;
        height: 100%;
    }
    &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 50%;
        padding: 0 10px;
        height: 100%;
        @media (min-width: $md4+px) and (max-width: 670px) {
            height: 550px;
        }
        @media (max-width: 670px) {
            height: 450px;
        }
    }
    &__col_down {
        justify-content: flex-end;
    }
    &__item-container {
        height: 215px;
        @media (max-width: $md3+px) {
            height: 170px;
        }
        @media (min-width: $md4+px) and (max-width: 670px) {
            height: 215px;
        }
        @media (max-width: 670px) {
            //height: 170px;
        }
        @media (max-width: $md4+px) {
            height: 170px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: #fef3e4;
        box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
        @media (max-width: $md3+px) {
            //text-align: center;
            width: 142px;
            height: 142px;
        }
        @media (min-width: $md4+px) and (max-width: 670px) {
            width: 180px;
            height: 180px;
        }
        width: 180px;
        height: 180px;
        border-radius: 50%;
        //position: relative;
        //margin-top: 40px;

        //margin-bottom: 20px;
    }
    &__img {
        position: absolute;
        top: 0px;
        //left: 25%;
        img {
            height: 100px;
            @media (min-width: $md4+px) and (max-width: 670px) {
                height: 100px;
            }
            @media (max-width: $md3+px) {
                height: 80px;
            }
        }
        @media (min-width: $md3+px) {
            //height: 90px;
        }
    }
    &__title {
        font-family: Caveat Brush;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        @media (min-width: $md4+px) and (max-width: 670px) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        //text-align: center;
        color: #000000;
        margin-bottom: 16px;
        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 12px;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: $md4+px) and (max-width: 670px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 15px;
        }
        //text-align: center;
        color: #000000;
        margin-bottom: 15px;
        @media (max-width: $md3+px) {
            font-size: 14px;
            line-height: 17px;
        }
    }
    &__icon {
        margin-bottom: 11px;
    }
}

//================
.about {
    margin-bottom: 44px;
    @media (max-width: 670px) {
        margin-bottom: 0px;
    }
    &__body {
        @media (min-width: 670px) {
            display: flex;
            margin: 0 -15px;
        }
    }
    &__img {
        @media (min-width: 670px) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
        //margin-right: 24px;
        position: relative;
        @media (max-width: 670px) {
            text-align: center;
        }

        img {
            @media (min-width: 670px) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
            width: 512px;
            @media (max-width: $md3+px) {
                width: 330px;
            }
            @media (max-width: 670px) {
                width: 290px;
            }
        }
        //
    }
    &__content {
        @media (min-width: 670px) {
            flex: 0 0 50%;
            padding: 0 15px;
        }
    }
    &__title {
        @media (max-width: 670px) {
            color: $bgElement;
        }
        @media (max-width: 670px) {
            //text-align: center;
        }
        &:hover {
            @media (max-width: 670px) {
                //color: $bgElement;
                cursor: pointer;
            }
        }

        ._init & {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            @extend ._icon-circle-down;
            &::before {
                @extend %ic;
                font-size: 20px;
                transition: transform 0.3s ease 0s;
            }
        }
        &._active {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
    &__text {
    }
}

.page__contant-main {
}
.contant-main {
    &__container {
        display: flex;
        flex-direction: column;
        @media (max-width: $md4+px) {
            align-items: center;
        }
    }

    //margin-top: 57px;
    margin-bottom: 120px;
    @media (min-width: $md4+px) and (max-width: 670px) {
        margin-bottom: 10px;
    }
    @media (max-width: $md3+px) {
        margin-bottom: 80px;
    }
    @media (max-width: $md4+px) {
        margin-top: 33px;
        margin-bottom: 0px;
    }

    &__title {
        font-family: "Caveat Brush";
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 65px;
        color: $mainColor;
        margin-bottom: 15px;
        @media (max-width: $md4+px) {
            margin-bottom: 3px;
            text-align: center;
        }
        @media (max-width: $md3+px) {
            font-size: 30px;
            line-height: 38px;
        }
    }
    &__by {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: $mainColor;
        margin-bottom: 30px;
        @media (max-width: $md4+px) {
            margin-bottom: 30px;
            text-align: center;
        }
        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 20px;
        }
    }
    &__register {
        @media (max-width: $md4+px) {
            margin-bottom: 45px;
            //margin-right: 0;
        }
        margin-bottom: 65px;
    }
}

.social {
    &_left {
        @media (max-width: $md4+px) {
            justify-content: left;
        }
    }
}
.social__items {
}
.social-item {
}
//====================================================================================================
