//<ОСНОВНОЙ БЛОК>====================================================================================================
//rating

.rating {
	display: flex;
	align-items: flex-end;
	font-size: 40px;
	line-height: 0.75;
	transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
	opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
	cursor: pointer;
}

.rating__body {
	position: relative;
}
.rating__body::before {
	content: "★★★★★";
	display: block;
}
.rating__active {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.rating__active::before {
	content: "★★★★★";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ab816c;
}

.rating__items {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.rating__item {
	flex: 0 0 20%;
	height: 100%;
	opacity: 0;
}
.rating__value {
	font-size: 50%;
	line-height: 1;
	padding: 0px 0px 0px 10px;
	display: none;
}

//rating-end
.input-common {
	border-bottom: 1px solid #ab816c;
	width: 100%;
	height: 20px;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: rgba(171, 129, 108, 0.5);
}

.text {
	p,
	li {
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: $mainColor;
		margin-bottom: 20px;
		@media (max-width: $md3+px) {
			font-size: 16px;
			line-height: 20px;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
}

.title {
	font-family: "Caveat Brush";
	font-style: normal;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 65px;
	//text-align: left;
	color: $mainColor;

	@media (max-width: $md3+px) {
		font-size: 24px;
		line-height: 65px;
	}
}

.bg-img {
	&__images {
	}
	&__image1 {
		position: absolute;
		top: 166px;
		left: 0;
		height: 210px;
		img {
			height: 100%;
		}
		@media (max-width: $md2+px) {
			visibility: hidden;
		}
		//z-index: -1;
	}
	&__image2 {
		//z-index: -1;
		position: absolute;
		top: 0px;
		//left: 770px;
		@media (max-width: $md4+px) {
			top: -70px;
			left: -60px;
			img {
				height: 200px;
			}
		}
		@media (min-width: $md4+px) and (max-width: 670px) {
			right: 50px;
			img {
				height: 250px;
			}
		}
		@media (min-width: $md4+px) {
			right: 100px;
			img {
				height: 400px;
			}
		}
		@media (min-width: $md3+px) {
			right: -190px;
			img {
				height: 550px;
			}
		}
		@media (min-width: $md2+px) {
			right: -40px;
			img {
				height: 550px;
			}
		}

		//width: 60%;
		//height: 660px;
		@include adaptiv-value("height", 660, 100, 1);
		img {
			//height: 550px;
		}
	}
}

.buttons {
	background: $bgElement;
	border-radius: 25px;
	width: 158px;
	height: 45px;
	font-family: "Caveat Brush";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 65px;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		background-color: #806051;
	}
	@media (max-width: $md3+px) {
		width: 145px;
		height: 40px;
		font-size: 18px;
		line-height: 65px;
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
._ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body.ie {
	background-color: $mainBg;
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
// ._more-block
._more-block {
}
// ._more-content
._more-content {
	transition: all 0.3s ease 0s;
	overflow: hidden;
}
// ._more-item
._more-item {
}
// ._more-link
._more-link {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&._active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
#map {
	background: url("../img/icons/loading.gif") center / 50px no-repeat;
}
//====================================================================================================
._swiper {
	overflow: hidden;
	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}
	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}
	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}
.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-container-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}
//====================================================================================================
._tabs {
}
._tabs-item {
}
._tabs-block {
	display: none;
	&._active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//========================================================================================================================================================

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
